{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon" type="image/png" href="{% static 'site_static/media/favicon.ico' %}" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Transcendence</title>
	<link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" href="{% static 'site_static/css/style.css' %}" />
	<script type="importmap">
		{
			"imports": {
				"three": "../../static/lib/threejs/src/Three.js",
				"FontLoader": "../../static/lib/threejs/examples/jsm/loaders/FontLoader.js",
				"TextGeometry": "../../static/lib/threejs/examples/jsm/geometries/TextGeometry.js",
				"Ball": "../../static/pong_static/js/Scritps/Class/Background.js",
				"Bounds": "../../static/pong_static/js/Scritps/Bounds.js",
				"Paddle": "../../static/pong_static/js/Scritps/Class/Paddle.js",
				"InputHandler": "../../static/pong_static/js/Scritps/Class/InputHandler.js",
				"Background": "../../static/pong_static/js/Scritps/Class/Background.js"
			}
		}
	</script>
</head>
<body>
	<div id="overlay" class="overlay d-none"></div>
	<div id="statusOverlay" class="status-overlay d-none"></div>
	<header id="header" class="header d-flex align-items-start justify-content-between px-2 fixed-top"></header>
	<div id="app"></div>
	<footer id="footer" class="footer d-flex align-items-center px-4 fixed-bottom"></footer>

	<!-- <script src="{% static 'site_static/js/overlay.js' %}"></script> -->
	<script src="{% static 'site_static/js/api.js' %}"></script>
	<script src="{% static 'site_static/js/app.js' %}"></script>
	<script src="{% static 'site_static/js/html.js' %}"></script>
	<script src="{% static 'site_static/js/helpers.js' %}"></script>
	<script src="{% static 'site_static/js/router.js' %}"></script>
	<script src="{% static 'site_static/js/views.js' %}"></script>
	<script src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>
